client_id:
main_server:
token:
bot_lists:
  - name: "Select List"
    api_url: "https://api.select-list.xyz"
    api_token: "token here"
    auth_format: "h#Authorization/{token}"
    post_stats:
      enabled: true
      method: "POST"
      interval: 1000
      url_format: "u#{url}/bots/{botId}/stats"
      data_format:
        guild_count: "servers"
        shard_count: "shards"
        user_count: "members"